[submodule "lib/util"]
	path = lib/util
	url = https://www.github.com/EthanHofton/util
[submodule "lib/glfw"]
	path = lib/glfw
	url = https://www.github.com/glfw/glfw
[submodule "lib/glm"]
	path = lib/glm
	url = https://github.com/g-truc/glm
[submodule "lib/sdl"]
	path = lib/sdl
	url = https://github.com/libsdl-org/SDL
[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/EthanHofton/imgui
